@charset "UTF-8";
._scheduler_container {
  /* reset */
  /* HTML5 display-role reset for older browsers */
}

._scheduler_container html, ._scheduler_container body, ._scheduler_container div, ._scheduler_container span, ._scheduler_container object, ._scheduler_container iframe,
._scheduler_container h1, ._scheduler_container h2, ._scheduler_container h3, ._scheduler_container h4, ._scheduler_container h5, ._scheduler_container h6, ._scheduler_container p, ._scheduler_container blockquote, ._scheduler_container pre,
._scheduler_container abbr, ._scheduler_container address, ._scheduler_container cite, ._scheduler_container code,
._scheduler_container del, ._scheduler_container dfn, ._scheduler_container em, ._scheduler_container img, ._scheduler_container ins, ._scheduler_container kbd, ._scheduler_container q, ._scheduler_container samp,
._scheduler_container small, ._scheduler_container strong, ._scheduler_container sub, ._scheduler_container sup, ._scheduler_container var,
._scheduler_container b, ._scheduler_container i,
._scheduler_container dl, ._scheduler_container dt, ._scheduler_container dd, ._scheduler_container ol, ._scheduler_container ul, ._scheduler_container li,
._scheduler_container fieldset, ._scheduler_container form, ._scheduler_container label, ._scheduler_container legend,
._scheduler_container table, ._scheduler_container caption, ._scheduler_container tbody, ._scheduler_container tfoot, ._scheduler_container thead, ._scheduler_container tr, ._scheduler_container th, ._scheduler_container td,
._scheduler_container article, ._scheduler_container aside, ._scheduler_container canvas, ._scheduler_container details, ._scheduler_container figcaption, ._scheduler_container figure,
._scheduler_container footer, ._scheduler_container header, ._scheduler_container hgroup, ._scheduler_container menu, ._scheduler_container nav, ._scheduler_container section, ._scheduler_container summary,
._scheduler_container time, ._scheduler_container mark, ._scheduler_container audio, ._scheduler_container video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-indent: 0;
  list-style: none;
}

._scheduler_container article, ._scheduler_container aside, ._scheduler_container details, ._scheduler_container figcaption,
._scheduler_container footer, ._scheduler_container header, ._scheduler_container hgroup, ._scheduler_container menu, ._scheduler_container nav, ._scheduler_container section {
  display: block;
  margin: 0;
  padding: 0;
}

._scheduler_container {
  /* Slider */
  /* Icons */
  /* Arrows */
  /* Dots */
}

.slick-loading ._scheduler_container .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

@font-face {
  ._scheduler_container {
    font-family: "slick";
    src: url("./fonts/slick.eot");
    src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
    font-weight: normal;
    font-style: normal;
  }
}

._scheduler_container .slick-prev,
._scheduler_container .slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

._scheduler_container .slick-prev:hover, ._scheduler_container .slick-prev:focus,
._scheduler_container .slick-next:hover,
._scheduler_container .slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

._scheduler_container .slick-prev:hover:before, ._scheduler_container .slick-prev:focus:before,
._scheduler_container .slick-next:hover:before,
._scheduler_container .slick-next:focus:before {
  opacity: 1;
}

._scheduler_container .slick-prev.slick-disabled:before,
._scheduler_container .slick-next.slick-disabled:before {
  opacity: 0.25;
}

._scheduler_container .slick-prev:before,
._scheduler_container .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._scheduler_container .slick-prev {
  left: -25px;
}

[dir="rtl"] ._scheduler_container .slick-prev {
  left: auto;
  right: -25px;
}

._scheduler_container .slick-prev:before {
  content: "←";
}

[dir="rtl"] ._scheduler_container .slick-prev:before {
  content: "→";
}

._scheduler_container .slick-next {
  right: -25px;
}

[dir="rtl"] ._scheduler_container .slick-next {
  left: -25px;
  right: auto;
}

._scheduler_container .slick-next:before {
  content: "→";
}

[dir="rtl"] ._scheduler_container .slick-next:before {
  content: "←";
}

._scheduler_container .slick-dotted.slick-slider {
  margin-bottom: 30px;
}

._scheduler_container .slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

._scheduler_container .slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

._scheduler_container .slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

._scheduler_container .slick-dots li button:hover, ._scheduler_container .slick-dots li button:focus {
  outline: none;
}

._scheduler_container .slick-dots li button:hover:before, ._scheduler_container .slick-dots li button:focus:before {
  opacity: 1;
}

._scheduler_container .slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._scheduler_container .slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/* Slider */
._scheduler_container .slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

._scheduler_container .slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

._scheduler_container .slick-list:focus {
  outline: none;
}

._scheduler_container .slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

._scheduler_container .slick-slider .slick-track,
._scheduler_container .slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

._scheduler_container .slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

._scheduler_container .slick-track:before, ._scheduler_container .slick-track:after {
  content: "";
  display: table;
}

._scheduler_container .slick-track:after {
  clear: both;
}

.slick-loading ._scheduler_container .slick-track {
  visibility: hidden;
}

._scheduler_container .slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir="rtl"] ._scheduler_container .slick-slide {
  float: right;
}

._scheduler_container .slick-slide img {
  display: block;
}

._scheduler_container .slick-slide.slick-loading img {
  display: none;
}

._scheduler_container .slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized ._scheduler_container .slick-slide {
  display: block;
}

.slick-loading ._scheduler_container .slick-slide {
  visibility: hidden;
}

.slick-vertical ._scheduler_container .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

._scheduler_container .slick-arrow.slick-hidden {
  display: none;
}

#_scheduler {
  display: none;
}

._scheduler_container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 15px;
}

._scheduler_container ._calendar_container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

._scheduler_container ._calendar_container ._calendar_main {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
  padding-top: 50px;
}

._scheduler_container ._calendar_container ._calendar_main .preMonth {
  position: absolute;
  top: 25px;
  left: 0px;
}

._scheduler_container ._calendar_container ._calendar_main .nextMonth {
  position: absolute;
  top: 25px;
  right: 0px;
}

._scheduler_container ._calendar_container ._calendar_main .preBtn {
  position: absolute;
  top: 60px;
  left: -50px;
}

._scheduler_container ._calendar_container ._calendar_main .nextBtn {
  position: absolute;
  top: 60px;
  right: -50px;
}

._scheduler_container ._calendar_container ._calendar_daysSet {
  max-width: 960px;
}

._scheduler_container ._calendar_container ._calendar_days_box {
  width: 14.06%;
  height: 55px;
  background-color: #2e77df;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin-top: 4px;
  margin-left: 4px;
  color: white;
  font-weight: bold;
  position: relative;
}

._scheduler_container ._calendar_container ._calendar_days_box ._calendar_days_box_a {
  display: block;
  width: 100%;
  height: 100%;
  color: white;
  border-radius: 4px;
  webkit-border-radius: 4px;
  moz-border-radius: 4px;
}

._scheduler_container ._calendar_container ._calendar_days_box ._calendar_days_box_current {
  background-color: #dc1e00;
}

._scheduler_container ._calendar_container ._calendar_days_box p.month {
  position: absolute;
  font-size: 15px;
  left: 8%;
  top: 22%;
}

._scheduler_container ._calendar_container ._calendar_days_box p.day {
  position: absolute;
  font-size: 30px;
  left: 35%;
  top: 15%;
}

._scheduler_container ._calendar_container ._calendar_days_box p.week {
  position: absolute;
  font-size: 15px;
  left: 72%;
  top: 42%;
}

._scheduler_container ._calendar_container .days_yellow {
  color: #ffed01;
}

._scheduler_container .description_container {
  position: relative;
  width: 390px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  padding-left: 40px;
}

._scheduler_container .description_container p {
  margin-right: 25px;
}

._scheduler_container .description_container ._circle {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 100px;
  background-color: red;
  margin-right: 10px;
}

._scheduler_container .description_container ._triangle {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 16px 8px;
  border-color: transparent transparent #2e78df transparent;
  margin-right: 10px;
}

._scheduler_container .description_container ._not {
  position: relative;
  display: inline-block;
  position: relative;
  display: inline-block;
  position: relative;
  width: 3px;
  height: 14px;
  /* 色の設定 */
  background-color: #919191;
  /* 45度回転 */
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  /* 位置調整 */
  margin-right: 10px;
  margin-top: 2px;
}

._scheduler_container .description_container ._not:after {
  display: block;
  content: "";
  position: absolute;
  /* :afterをblockとして表示する */
  content: "";
  display: block;
  /* 大きさの設定(親要素=#batsuと全く同じ) */
  width: 3px;
  height: 14px;
  /* 色の設定(親要素と同じ) */
  background-color: inherit;
  /* まわす */
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

._scheduler_container a {
  text-decoration: none;
}

._scheduler_container a:link {
  color: #333;
}

._scheduler_container a:visited {
  color: #333;
}

._scheduler_container ._scheduler_main {
  max-width: 960px;
  margin: 0 auto;
}

._scheduler_container ._scheduler_main .archive-list-events {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: stretch;
      align-items: stretch;
  margin-left: -12px;
  margin-right: -12px;
  margin-bottom: 50px;
  margin-top: 20px;
}

._scheduler_container ._scheduler_main .archive-list-events .events-item {
  -ms-flex: 0 1 25%;
      flex: 0 1 25%;
  width: 25%;
  box-sizing: border-box;
  margin-bottom: 50px;
}

._scheduler_container ._scheduler_main .events-noarticle {
  text-align: center;
  -ms-flex: 2 1 100%;
      flex: 2 1 100%;
  padding: 0 12px;
  margin-bottom: 50px;
}

._scheduler_container ._scheduler_main .events-noarticle-inner {
  padding: 10%;
  position: relative;
  background-color: #f2f7fd;
}

._scheduler_container ._scheduler_main .events-noarticle-inner::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  z-index: 0;
  background: url("../images/mark-pattern-wht-l.svg") repeat center center;
  background-size: 3000px;
}

._scheduler_container ._scheduler_main .events-noarticle-message {
  position: relative;
  z-index: 2;
  color: #594f51;
  font-size: 24px;
  font-size: 1.71429rem;
}

._scheduler_container ._scheduler_event_wrapper {
  position: relative;
  width: 100%;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

._scheduler_container ._scheduler_event_wrapper ._scheduler_event_pic {
  position: relative;
}

._scheduler_container ._scheduler_event_wrapper ._scheduler_event_pic img {
  width: 132px;
}

._scheduler_container ._scheduler_event_wrapper ._scheduler_event_infobox {
  position: relative;
  overflow: hidden;
  background-color: #f0f0f0;
  width: 88.02%;
}

._scheduler_container ._scheduler_event_wrapper ._scheduler_event_infobox ._scheduler_event_title {
  font-size: 25px;
  font-weight: bold;
  padding: 10px 0px 0px 20px;
}

._scheduler_container ._scheduler_event_wrapper ._scheduler_event_infobox ._scheduler_event_description {
  font-size: 15px;
  font-weight: bold;
  padding: 0px 0px 0px 20px;
  display: -ms-flexbox;
  display: flex;
}

._scheduler_container ._scheduler_event_wrapper ._scheduler_event_infobox ._scheduler_event_description p.area {
  margin-left: 20px;
}

._scheduler_container ._scheduler_event_wrapper ._scheduler_event_infobox ._scheduler_event_timeSet_pc:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.15;
  background: url(../images/mark-pattern-wht.svg) 0 0 no-repeat transparent;
  background-size: 1700px 1700px;
}

._scheduler_container ._scheduler_event_wrapper ._scheduler_event_infobox ._scheduler_event_timeSet_pc_hidden {
  display: none;
}

._scheduler_container ._scheduler_event_wrapper ._scheduler_event_infobox #_scheduler_moreBtn {
  z-index: 1;
}

._scheduler_container ._scheduler_event_wrapper ._scheduler_event_timeSet_sp {
  display: none;
}

._scheduler_container ._scheduler_event_wrapper ._scheduler_event_timeSet_pc {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  margin-left: 12px;
  margin-top: 20px;
  width: 97.28%;
  height: 76px;
  background-color: black;
}

._scheduler_container ._scheduler_event_wrapper ._scheduler_event_timeSet_pc ._scheduler_event_timeBox {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin-top: 4px;
  margin-left: 4px;
  width: 8.27%;
  height: 68px;
  background-color: white;
  display: inline-block;
  z-index: 100;
}

._scheduler_container ._scheduler_event_wrapper ._scheduler_event_timeSet_pc ._scheduler_event_timeBox a {
  display: inline-block;
  z-index: 100;
  width: 100%;
  height: 100%;
}

._scheduler_container ._scheduler_event_wrapper ._scheduler_event_timeSet_pc ._scheduler_event_timeBox ._scheduler_event_timeBox_circle p.symbol {
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 100px;
  background-color: red;
  left: 50%;
  margin-left: -8px;
  margin-top: 20px;
  margin-bottom: 5px;
}

._scheduler_container ._scheduler_event_wrapper ._scheduler_event_timeSet_pc ._scheduler_event_timeBox ._scheduler_event_timeBox_circle p.time {
  position: relative;
  font-size: 14px;
  text-align: center;
}

._scheduler_container ._scheduler_event_wrapper ._scheduler_event_timeSet_pc ._scheduler_event_timeBox ._scheduler_event_timeBox_triangle p.symbol {
  position: relative;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 16px 8px;
  border-color: transparent transparent #2e78df transparent;
  margin-left: 25px;
  margin-top: 20px;
  margin-bottom: 5px;
}

._scheduler_container ._scheduler_event_wrapper ._scheduler_event_timeSet_pc ._scheduler_event_timeBox ._scheduler_event_timeBox_triangle p.time {
  position: relative;
  font-size: 14px;
  text-align: center;
}

._scheduler_container ._scheduler_event_wrapper ._scheduler_event_timeSet_pc ._scheduler_event_timeBox ._scheduler_event_timeBox_not p.symbol {
  position: relative;
  display: inline-block;
  position: relative;
  margin: 0 20px 0 7px;
  padding: 0;
  width: 4px;
  height: 20px;
  background: #919191;
  transform: rotate(45deg);
  margin-left: 32px;
  margin-top: 17px;
  margin-bottom: 3px;
}

._scheduler_container ._scheduler_event_wrapper ._scheduler_event_timeSet_pc ._scheduler_event_timeBox ._scheduler_event_timeBox_not p.symbol:before {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: -8px;
  width: 20px;
  height: 4px;
  margin-top: -2px;
  background: #919191;
}

._scheduler_container ._scheduler_event_wrapper ._scheduler_event_timeSet_pc ._scheduler_event_timeBox ._scheduler_event_timeBox_not p.time {
  position: relative;
  font-size: 14px;
  text-align: center;
  color: #919191;
  top: -7px;
}

._scheduler_container ._scheduler_event_wrapper ._scheduler_event_timeSet_pc ._scheduler_event_timeBox ._scheduler_event_timeBox_pre p.symbol {
  position: relative;
  font-size: 14px;
  color: #2e77df;
  text-align: center;
  line-height: 1.1;
  margin-bottom: 4px;
  margin-top: 8px;
}

._scheduler_container ._scheduler_event_wrapper ._scheduler_event_timeSet_pc ._scheduler_event_timeBox ._scheduler_event_timeBox_pre p.time {
  position: relative;
  font-size: 14px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  ._scheduler_container {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  ._scheduler_container ._calendar_container {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
  ._scheduler_container ._calendar_container ._calendar_main {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 80px;
  }
  ._scheduler_container ._calendar_container ._calendar_main .preMonth {
    position: absolute;
    top: 45px;
    left: 30%;
  }
  ._scheduler_container ._calendar_container ._calendar_main .nextMonth {
    position: absolute;
    top: 45px;
    right: 30%;
  }
  ._scheduler_container ._calendar_container ._calendar_main .preBtn {
    position: absolute;
    top: 30px;
    left: 15px;
  }
  ._scheduler_container ._calendar_container ._calendar_main .nextBtn {
    position: absolute;
    top: 30px;
    right: 15px;
  }
  ._scheduler_container ._calendar_container ._calendar_daysSet {
    margin: 0 auto;
  }
  ._scheduler_container ._calendar_container ._calendar_days_box {
    width: 13.67%;
    height: 100px;
    background-color: #2e77df;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin-top: 4px;
    margin-left: 4px;
    color: white;
    font-weight: bold;
    position: relative;
  }
  ._scheduler_container ._calendar_container ._calendar_days_box ._calendar_days_box_a {
    display: block;
    width: 100%;
    height: 100%;
    color: white;
  }
  ._scheduler_container ._calendar_container ._calendar_days_box p.month {
    position: absolute;
    font-size: 0.7rem;
    left: 10%;
    top: 10%;
  }
  ._scheduler_container ._calendar_container ._calendar_days_box p.day {
    position: absolute;
    font-size: 1.5rem;
    left: 25%;
    top: 32%;
  }
  ._scheduler_container ._calendar_container ._calendar_days_box p.week {
    position: absolute;
    font-size: 15px;
    left: 35%;
    top: 72%;
  }
  ._scheduler_container ._calendar_container .days_red {
    background-color: red;
  }
  ._scheduler_container .description_container {
    position: relative;
    width: 420px;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
  }
  ._scheduler_container .description_container p {
    margin-right: 25px;
    font-size: 0.8rem;
  }
  ._scheduler_container .description_container p span {
    margin-top: 0px;
    top: 10%;
  }
  ._scheduler_container .description_container ._circle {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 100px;
    background-color: red;
    margin-right: 10px;
  }
  ._scheduler_container .description_container ._triangle {
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 16px 8px;
    border-color: transparent transparent #2e78df transparent;
    margin-right: 10px;
  }
  ._scheduler_container .description_container ._not {
    position: relative;
    display: inline-block;
    position: relative;
    display: inline-block;
    position: relative;
    width: 3px;
    height: 14px;
    /* 色の設定 */
    background-color: #919191;
    /* 45度回転 */
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    /* 位置調整 */
    margin-right: 10px;
    margin-top: 2px;
  }
  ._scheduler_container .description_container ._not:after {
    display: block;
    content: "";
    position: absolute;
    /* :afterをblockとして表示する */
    content: "";
    display: block;
    /* 大きさの設定(親要素=#batsuと全く同じ) */
    width: 3px;
    height: 13px;
    padding-top: 1px;
    /* 色の設定(親要素と同じ) */
    background-color: inherit;
    /* まわす */
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }
  ._scheduler_container ._scheduler_main {
    width: 100%;
    margin: 0 auto;
  }
  ._scheduler_container ._scheduler_event_wrapper {
    position: relative;
    width: 100%;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: #f0f0f0;
  }
  ._scheduler_container ._scheduler_event_wrapper ._scheduler_event_pic {
    position: relative;
    width: 23.44%;
    background-color: #f0f0f0;
  }
  ._scheduler_container ._scheduler_event_wrapper ._scheduler_event_pic img {
    width: 100%;
  }
  ._scheduler_container ._scheduler_event_wrapper ._scheduler_event_infobox {
    position: relative;
    overflow: hidden;
    background-color: #f0f0f0;
    width: 76.56%;
  }
  ._scheduler_container ._scheduler_event_wrapper ._scheduler_event_infobox ._scheduler_event_title {
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 0px 0px 20px;
  }
  ._scheduler_container ._scheduler_event_wrapper ._scheduler_event_infobox ._scheduler_event_description {
    font-size: 0.8rem;
    font-weight: normal;
    padding: 5px 0px 0px 20px;
    display: block;
  }
  ._scheduler_container ._scheduler_event_wrapper ._scheduler_event_infobox ._scheduler_event_description p.days {
    padding-bottom: 25px;
  }
  ._scheduler_container ._scheduler_event_wrapper ._scheduler_event_infobox ._scheduler_event_description p.area {
    bottom: 0px;
    margin-left: 0px;
    border-top: 1px solid #000000;
    padding-top: 5px;
  }
  ._scheduler_container ._scheduler_event_wrapper ._scheduler_event_infobox ._scheduler_event_timeSet_pc {
    display: none;
  }
  ._scheduler_container ._scheduler_event_wrapper ._scheduler_event_timeSet_sp {
    position: relative;
    display: block;
    width: 100%;
    background-color: black;
    white-space: nowrap;
    overflow-x: scroll;
  }
  ._scheduler_container ._scheduler_event_wrapper ._scheduler_event_timeSet_sp ._scheduler_event_timeBox_scr {
    display: inline-block;
    padding-bottom: -30px;
  }
  ._scheduler_container ._scheduler_event_wrapper ._scheduler_event_timeSet_sp ._scheduler_event_timeBox_scr .moreBtn img {
    width: 60px;
    height: 60px;
  }
  ._scheduler_container ._scheduler_event_wrapper ._scheduler_event_timeSet_sp ._scheduler_event_timeBox {
    position: relative;
    display: inline-block;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin-left: -2px;
    bottom: 3px;
    width: 60px;
    height: 60px;
    background-color: white;
    display: inline-block;
    z-index: 100;
  }
  ._scheduler_container ._scheduler_event_wrapper ._scheduler_event_timeSet_sp ._scheduler_event_timeBox a {
    display: inline-block;
    z-index: 100;
    width: 100%;
    height: 100%;
  }
  ._scheduler_container ._scheduler_event_wrapper ._scheduler_event_timeSet_sp ._scheduler_event_timeBox ._scheduler_event_timeBox_circle p.symbol {
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 100px;
    background-color: red;
    left: 50%;
    margin-left: -8px;
    margin-top: 18px;
    margin-bottom: 5px;
  }
  ._scheduler_container ._scheduler_event_wrapper ._scheduler_event_timeSet_sp ._scheduler_event_timeBox ._scheduler_event_timeBox_circle p.time {
    position: relative;
    font-size: 11px;
    text-align: center;
  }
  ._scheduler_container ._scheduler_event_wrapper ._scheduler_event_timeSet_sp ._scheduler_event_timeBox ._scheduler_event_timeBox_triangle p.symbol {
    position: relative;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 16px 8px;
    border-color: transparent transparent #2e78df transparent;
    margin-left: 22px;
    margin-top: 18px;
    margin-bottom: 5px;
  }
  ._scheduler_container ._scheduler_event_wrapper ._scheduler_event_timeSet_sp ._scheduler_event_timeBox ._scheduler_event_timeBox_triangle p.time {
    position: relative;
    font-size: 11px;
    text-align: center;
  }
  ._scheduler_container ._scheduler_event_wrapper ._scheduler_event_timeSet_sp ._scheduler_event_timeBox ._scheduler_event_timeBox_not p.symbol {
    position: relative;
    position: relative;
    margin: 0 20px 0 7px;
    padding: 0;
    width: 2px;
    height: 15px;
    background: #919191;
    transform: rotate(45deg);
    margin-left: 28px;
    margin-top: 18px;
    margin-bottom: 6px;
  }
  ._scheduler_container ._scheduler_event_wrapper ._scheduler_event_timeSet_sp ._scheduler_event_timeBox ._scheduler_event_timeBox_not p.symbol:before {
    display: block;
    content: "";
    position: absolute;
    top: 49%;
    left: -6px;
    width: 15px;
    height: 2px;
    margin-top: -1px;
    background: #919191;
  }
  ._scheduler_container ._scheduler_event_wrapper ._scheduler_event_timeSet_sp ._scheduler_event_timeBox ._scheduler_event_timeBox_not p.time {
    position: relative;
    font-size: 11px;
    text-align: center;
    color: #919191;
  }
  ._scheduler_container ._scheduler_event_wrapper ._scheduler_event_timeSet_sp ._scheduler_event_timeBox ._scheduler_event_timeBox_pre p.symbol {
    position: relative;
    font-size: 14px;
    color: #2e77df;
    text-align: center;
    line-height: 1.1;
    margin-bottom: 2px;
    margin-top: 8px;
  }
  ._scheduler_container ._scheduler_event_wrapper ._scheduler_event_timeSet_sp ._scheduler_event_timeBox ._scheduler_event_timeBox_pre p.time {
    position: relative;
    font-size: 14px;
    text-align: center;
  }
  ._scheduler_container ._scheduler_event_wrapper ._scheduler_event_timeSet_sp:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.15;
    background: url(../images/mark-pattern-wht.svg) 0 0 no-repeat transparent;
    background-size: 1700px 1700px;
  }
}
